.contact {
    background-color: white;
}

.contact__content {
    --border-radius: 2em;
    margin-top: 5em;
    background-color: #111;
    color: white;
    border-radius: var(--border-radius);
    opacity: 0;
}

.telephone,
.mail {
    padding: 4em 4em;
    text-align:center;
}

.telephone__title,
.mail__title {
    font-size: clamp(1.5em, 5vw, 2em);
    position: relative;
    display: inline-block;
}


.telephone__title::after,
.mail__title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
}

.telephone__title::after {
    background-image: url("../images/contact/phone_underline.svg");
}

.mail__title::after {
    background-image: url("../images/contact/mail_underline.svg");
}

/* telephone */
.telephone {
    background-color: #2f2f2f;
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

@media(min-width: 41em){
    .contact__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .telephone {
        border-radius: var(--border-radius);
    }
}

.contact__image {
    background-color: #474747;
    border-radius: 100vw;
    margin-inline: auto;
    width: clamp(10em, 30vw, 20em);
}

.telephone__number {
    text-align:center;
    font-size: clamp(1em, 6vw, 2.5em);
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* form */
form {
    margin-top: 4em;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2.5em 0.5em;
}



input, textarea {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    background-color: #2f2f2f;
    color: white;
    border: 2px solid #111;
}

input:hover:not(:focus),
textarea:hover:not(:focus) {
    border: 2px solid white;
}

input:is(:focus-visible),
textarea:is(:focus-visible) {
    border: 2px solid white;
    outline: none;
}


.email {
    grid-column: 1 / -1;
    grid-row: 2;
}

.message {
    grid-column: 1 / -1;
    grid-row: 3 / 6;
}

.submit {
    grid-column: 1 / -1;
    grid-row: 6;
    font-size: 1.5em;
    border-radius: 0.5em;
}

label {
    position: relative;
}

/* TODO: Faire en sorte avec le javascript que le truc ne soit pas fiel si le field est non vide. */
.labelline {
    text-transform:capitalize;
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}

.error {
    position:absolute;
    left: 0.5em;
    top: 4em;
    color: #ff3860;
    font-size: 0.8em;
}

textarea ~ .error {
    top: 19em;
}

label.fail input,
label.fail textarea { 
    border-color: #ff3860;
}

label.success input, 
label.success textarea { 
    border-color: #09c372;
}

input[name] {
    padding: 1em 0.5em;
    padding-bottom: 0.4em;
}

input[name]:focus ~ .labelline,
.labelline[data-focus="true"] {
    font-size: 0.8em;
    color: var(--clr-button);
    top: 0.8em;
    transition: font-size 100ms ease-in, top 100ms ease-in;
}

/* textarea */
textarea ~ .labelline {
    text-transform:capitalize;
    position: absolute;
    left: 0.5em;
    top: 1em;
}

textarea {
    padding: 1em 0.5em;
    padding-bottom: 0.4em;
}

textarea:focus ~ .labelline {
    font-size: 0.8em;
    color: var(--clr-button);
    top: 0.8em; transition: font-size 100ms ease-in, top 100ms ease-in;
}

@media(max-width: 41em) {
    .contact__image, .telephone__number {
        margin-top: 3em;
    }

    .mail {
        padding-inline: 2em;
    }

    form {
        grid-template-rows: repeat(7,1fr);
        grid-template-columns: 1fr;
        grid-gap: 1.5em 0.5em;
    }
    .nom, .prenom, .email, .message {
        grid-column: 1;
    }
    .nom {
        grid-row: 1;
    }

    .prenom {
        grid-row: 2;
    }

    .email {
        grid-row: 3;
    }
    .message {
        grid-row: 4 / 7;
    }

    .submit {
        grid-row: 7;
        font-size: 1.5em;
        border-radius: 0.5em;
    }

    textarea ~ .error {
        top: 16.5em;
    }
}
