footer {
    color: white;
    background-color: #111;
    text-align:center;
    width: 100vw;
    padding: 4em;
    position: relative;
}

/* footer::before, */
/* footer::after { */
/*     --triangle-size: 40px; */
/*     content: ''; */
/*     position: absolute; */
/*     bottom: 0; */
/*     aspect-ratio: 1; */
/*     border-bottom: var(--triangle-size) solid white; */
/* } */
/**/
/* footer::before { */
/*     left: 0; */
/*     border-right: var(--triangle-size) solid transparent; */
/* } */
/**/
/* footer::after { */
/*     right: 0; */
/*     border-left: var(--triangle-size) solid transparent; */
/* } */

.footer__top > * + * {
    margin-top: 1.5rem;
}

.footer__content {
    max-width: 70%;
    margin-inline: auto;
}

.footer__nav {
    display: flex;
    justify-content:center;
    gap: 1rem;
    align-items: center;
}

.footer__nav li {
    border: 2px solid #111;
}

.footer__nav li:is(:hover, :focus){
    border-bottom: 2px solid  rgb(44, 165, 176);
}

.copyright {
    padding-block: 1rem;
    text-transform: capitalize;
}
