/* NOTE: Je commente cela et je retire "Menu" dans le tag associe */
/* .sr-only:not(:focus):not(:active){ */
/*     clip: rect(0 0 0 0);  */
/*     clip-path: inset(50%); */
/*     height: 1px; */
/*     overflow: hidden; */
/*     position: absolute; */
/*     white-space: nowrap;  */
/*     width: 1px; */
/*     background-color: red; */
/* } */

.nav {
    /* version1 */
    background-color: #191919;
    color: white;
}
.nav__content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.75rem;
    position: relative;
}

.logo {
    --logo-size: 3em;
    width: var(--logo-size);
    height: var(--logo-size);
    transform: scale(1.5);
} 

@media(min-width: 42em){
    .logo {
        transform: scale(1);
        --logo-size: 14em;
        height: 100%;
    }
}

.links {
    display:flex;
    align-items: center;
    gap: 2rem;
}

.link {
    position: relative;
    opacity: 0.7;
}

.link::after {
    content: '';
    width: 0px; 
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.link:hover::after, 
.link:focus::after {
    width: 2em;
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}


.link:is(:hover, :focus) {
    cursor: pointer;
    color: white;
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.link:is(:hover, :focus) .link:hover::after,
.link:is(:hover, :focus) .link:focus::after {
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.contact_btn {
    padding: 0.3em 0.9em;
    border-radius: 0.5em;

}

/* menu mobile */
.mobile-nav-toggle {
    display: none;
}


.gwada {
    position: relative;
}

.gwada::after {
    content: '';
    background-repeat:no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}
.gwada::after {
    background-image: url("../images/hero/gribouilli.svg");
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
}

@media(max-width: 41em){
    .mobile-nav-toggle {
        display: block;
        position:absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        background-color: transparent;
        aspect-ratio: 1;
        background-image: url("../images/hero/hamburger.svg");
        background-size: cover;
        border: none;
        z-index: 9999; 
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url("../images/hero/close.svg");
    }

    .mobile-nav-toggle:is(:hover, :focus){
        cursor: pointer;
    }

    .contact_btn {
        position: relative;
        opacity: 0.7;
        background:none;
        padding: 0
    }

    .contact_btn::after {
        content: '';
        width: 0px; 
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -10px;
        left: 0;
    }

    .contact_btn:hover::after, 
    .contact_btn:focus::after {
        width: 2em;
        transition-property: width;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    .contact_btn:is(:hover, :focus) {
        cursor: pointer;
        background:none;
        color: white;
        opacity: 1;
        transition: opacity 100ms ease-in-out;
    }

    .contact_btn:is(:hover, :focus) .contact_btn:hover::after,
    .contact_btn:is(:hover, :focus) .contact_btn:focus::after {
        opacity: 1;
        transition: opacity 100ms ease-in-out;
    }

    .links {
        display: flex;
        gap: 2rem;
        /* font-size: 1.3rem; */
        position: fixed;
        inset: 0 0 0 40%;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: 8em 2em;
        align-items: start;
        background:hsl(0 0% 0% / 0.75);
        z-index: 1000; 
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .links[data-visible="true"]{
        transform: translateX(0%);
    }

    @supports( backdrop-filter : blur(1rem)){
        .links {
            backdrop-filter : blur(1rem);
        }
    }
}

@media(prefers-reduced-motion: no-preference){
    .logo {
        animation: slideInLeft 1s;
    }
    
    .links {
        animation: dropDown 1s;
    }
}
