.vehicle {
    background-color: #d9d9d9;
    /* position: relative; */
    /* TODO: ce truc est utile ? */
    /* overflow: hidden; */
}

/* TODO: Make the carousel accessible */
.carousel {
    margin-top: 4em;
    --slider-padding: 5rem;
    --col-count: 1; 
}

.carousel__position__handle {
    position: relative;
}

.carousel__container {
    /* display: flex; */
    /* align-items:center; */
    /* justify-content: center; */
    overflow: hidden;
    margin-inline:auto;
    width: 70%;
}

.slider {
    --slider-index: 0;
    --gap: 5em;
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / var(--col-count));
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

.handle {
    border:none;
    background: none;
    z-index: 1000;
    width: clamp(2em, 4vw, 4em);
    top: 50%;
    position: absolute;
}

.right_handle {
    transform: translateY(-50%) rotateZ(180deg);
    right: clamp(0.5em, 2vw, 3em);
}

.left_handle {
    left: clamp(0.5em, 2vw, 3em);
    transform: translateY(-50%);
}

.arrow:is(:hover, :focus) {
    cursor:pointer;
    transition: transform 200ms ease-in;
    transform: scale(1.2);
}


.progress_bar {
    margin-top: 12em; 
    display:flex;
    gap: 2em;
    gap: clamp(1em, 4vw, 2em);
    justify-content: center;
}

.progress_bar_item {
    border-radius: 100%;
    width: clamp(1.5em, 4vw, 2em);
    aspect-ratio: 1;
    background-color: white;
}

.progress_bar .active {
    background-color: var(--clr-button);
}

/* ------------------------------------------------------ */

.vehicle__description {
    display: grid;
    grid-auto-flow: row;
    margin-top: 4em;
    max-width: 320px;
    margin-inline: auto;
    gap: 3em;
}

@media(min-width: 50em){
    .vehicle__description {
        /* display: grid; */
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
        max-width: none;
        width: 100%;
        margin-top: 4em;
    }

    div[data-position] {
        position: relative;
    }

    div[data-position]::before,
    div[data-position]::after {
        position: absolute;
    }

    [data-position="top"]{
        grid-column: 5/9;
        grid-row: 1;
    }

    [data-position="top"]::after {
        content: '';
        background-image: url("../images/vehicle/arrow1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        right: -4em;
        top: 80%;
        width: 4em;
        height: 100%;
    }

    [data-position="right"]{
        grid-column: 9/-1;
        grid-row: 2;
    }

    [data-position="right"]::after {
        content: '';
        background-image: url("../images/vehicle/arrow2.svg");
        background-size: contain;
        background-repeat: no-repeat;
        left: -0.8em;
        top: 90%;
        width: 4em;
        height: 100%;
    }

    [data-position="bottom"]{
        grid-column: 5/9;
        grid-row: 3;
    }

    [data-position="bottom"]::before {
        content: '';
        background-image: url("../images/vehicle/arrow3.svg");
        background-size: contain;
        background-repeat: no-repeat;
        left: -4em;
        top: -0.1em;
        width: 4em;
        height: 100%;
    }

    [data-position="left"]{
        grid-column: 1 / 5;
        grid-row: 2;
    }

    [data-position="left"]::before {
        content: '';
        background-image: url("../images/vehicle/arrow4.svg");
        background-size: contain;
        background-repeat: no-repeat;
        right: -1em;
        top: -3em;
        width: 4em;
        height: 100%;
    }

    .vehicle::after {
        content: '';
        position: absolute;
        top: 40%;
        transform: translateX(-50%);
        right: -5em;
        width: 8em;
        height: 16em;
        background-image: url("../images/vehicle/pattern.svg");
    }

}

