---
import "../styles/about.css"
---
<section class="about" id="about" aria-labelledby="aboutheader">
    <div class="container">
        <h2 class="about__title heading" id="aboutheader">a propos de moi</h2>
        <div class="about__card">
            <div class="about__content">
                <p>Je m'appelle Frantz et je suis le fondateur et conducteur de l'entreprise "Les transports Colibri".</p>
                <p>J'ai quitté la France métropolitaine il y a quelques années pour me rapprocher de ma famille et profiter de la vie tropicale. Je suis une personne chaleureuse et authentique qui aime rencontrer des gens de tous horizons. Je suis toujours prêt à aider mes clients et à leur faire découvrir les Antilles sous son meilleur jour.</p> 
                <p>Je suis titulaire d'un permis de conduire de taxi valide et j'ai une expérience de plusieurs années dans le métier.</p>
                <p>Je connais parfaitement les routes des Antilles et je suis à votre disposition pour vous emmener où vous le souhaitez, en toute sécurité. </p>
            </div>
            <div class="about__address">
                <p class="address__line">Chers passagers.</p>
                <p class="address__line" id="lastline">Pour toute destination</p>
                <p class="address__line">Dans la belle ile de la</p>
                <p class="address__line">Guadeloupe, 971</p>
            </div>
        </div>
    </div>
</section>
