---
import "../styles/about.css"
---

<section class="about">
    <div class="container">
        <h2 class="about__title heading">a propos de moi</h2>
        <div class="about__card">
            <div class="about__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel orci rutrum, ullamcorper sem quis, consequat libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec euismod ut dui vel volutpat. Quisque lacinia metus nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam arcu dui, fringilla eu magna sit amet, facilisis vestibulum lorem.</p>
            </div>
            <div class="about__address">
                <p class="address__line">Lorem ipsum dolor sit amet</p>
                <p class="address__line">Lorem ipsum dolor sit amet</p>
                <p class="address__line">Lorem ipsum dolor sit amet</p>
                <p class="address__line">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
</section>
