---
import "../styles/card.css";
---

<div class="card">
    <h3 class="card__title subheading">Conduite professionnelle</h3>
    <p class="card__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam asperiores nesciunt animi veniam voluptatibus quasi temporibus eveniet molestias illo.</p>
</div>
