---
import "../styles/cardservice.css";
import plane from "../images/service/plane.svg";
import health from "../images/service/health.svg";
import car from "../images/service/car.svg";
import map from "../images/service/map.svg";
import boat from "../images/service/boat.svg";
import handi from "../images/service/handi.svg";

export interface CardService {
    title: string;
    content: string;
    index: number;
}

// NOTE: L'ancienne configuration avec les huit cartes.
// const images = [plane, boat,health, handi, car, map];
const images = [plane, health, car, map];

// Je ne comprends pas trop les nombres mais ok
// NOTE: old value
// const numbers = new Set([1,2,5]);
// const numbers = new Set([1,3,5]);
const numbers = new Set([1,2,4]);
console.log(numbers);

const { title, content, index} = Astro.props as CardService;
---

<div class={`cardservice ${numbers.has(index)  && "cardservice__accent"}`} aria-labelledby="cardservicetitle">
    <img class="cardservice__image" src={images[index].src} alt="transport maritime">
    <h3 class="cardservice__title subheading" id="cardservicetitle">{title}</h3>
    <p class="cardservice__body">{content}</p>
</div>
