---
import "../styles/contact.css";
import telephone from "../images/contact/phone.svg";
---

<script src="../scripts/form.js"></script>

<section class="contact" id="contact" aria-labelledby="contactheader">
    <div class="container">
        <h2 class="contact__title heading" data-color="black" id="contactheader">Contact</h2>
        <div class="contact__content">
            <div class="telephone" aria-labelledby="phoneheader">
                <h3 class="telephone__title subheading" id="phoneheader">Par telephone</h3>
                <img class="contact__image" src={telephone.src} alt="telephone icon">
                <p class="telephone__number">0690 35 53 09</p>
            </div>
            <div class="mail" aria-labelledby="mailheader">
                <h3 class="mail__title subheading" id="mailheader">Par email</h3>
                <form class="form" id="form" action="https://formsubmit.co/gary.testmail.123@gmail.com" method="POST">
                  <input type="hidden" name="_subject" value="Envoyer moi un message pour tout renseignement concernant mes disponibilites ou si besoin d'informations complementaires." >
                  <label class="nom" aria-label="nom">
                    <input class="field" type="text" name="nom" id="nom" />
                    <div class="labelline" data-focus="false">nom</div>
                    <div class="error"></div>
                  </label>
                  <label class="prenom" aria-label="prenom">
                    <input class="field" type="text" name="prenom" id="prenom" />
                    <div class="labelline" data-focus="false">prenom</div>
                    <div class="error"></div>
                  </label>
                  <label class="email" aria-label="mail">
                    <input class="field" type="email" name="email" id="email" />
                    <div class="labelline" data-focus="false">mail</div>
                    <div class="error"></div>
                  </label>
                  <label class="message" aria-label="message">
                    <textarea class="field" name="message" id="message" />
                    <div class="labelline" data-focus="false">message</div>
                    <div class="error"></div>
                  </label>
                  <button class="submit cta" type="submit" aria-label="envoyer le formulaire">Envoyer</button>
                </form>            
            </div>
        </div>
    </div>
</section>
