---
import "../styles/nav.css"

import {Image} from 'astro:assets';
import logo_mobile from "../images/hero/logo_mobile.png";
import logo from "../images/hero/logo.png";
---

<script src="../scripts/nav.js"></script>

<nav class="nav" id="nav">
    <div class="container nav__content">
        <a href="/">
            <picture>
                <source class="logo" srcset={logo.src} media="(min-width: 42em)">
                <Image class="logo" src={logo_mobile} alt="logo"/>
            </picture>
        </a>
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <span class="sr-only">Menu</span>
        </button>
        <ul data-visible="false" role="list" class="links" id="primary-navigation">
            <li class="link">
                <a href="#qualities">Qualites</a>
            </li>
            <li class="link">
                <a href="#about">A propos</a>
            </li>
            <li class="link">
                <a href="#vehicule">Vehicule</a>
            </li>
            <li class="link">
                <a href="#services">Services</a>
            </li>
            <li class="">
                <button class="cta contact_btn" aria-label="aller au formulaire de contact">
                    <a href="#contact">Contact</a>
                </button>
            </li>
        </ul>
    </div>
</nav>
