---
import "../styles/qualite.css";
import Card from "../components/Card.astro";

// TODO: reduire le texte pour que cela soit mon lourd.
const cards = [
    {
        title: "Conduite professionnelle",
        body:"Je garantis votre sécurité et votre tranquillité par ma rigueur et ma courtoisie. Je crée une expérience de trajet fiable et agréable.",
        dataIcon: "pro",
    },
    {
        title: "Authentique et confortable",
        body:"Mon véhicule entretenus avec soin, offre un voyage confortable. Détendez-vous dans des sièges spacieux et profitez d'un trajet élégant.",
        dataIcon: "comfy",
    },
    {
        title: "Expérience sur mesure",
        body:"Vos besoins guident chaque trajet, que ce soit pour des événements spéciaux, des visites touristiques ou vos déplacements habituels.",
        dataIcon: "precise",
    }
]
---

<section class="qualite__section" id="qualities" aria-labelledby="qualityheader">
    <div class="container">
        <h2 class="section__title heading" id="qualityheader">mes qualites</h2>
        <ul class="cards" role="list">
            {cards.map(card => {
                return <li class="card__element"><Card title={card.title} body={card.body} dataIcon={card.dataIcon} /></li>
            })}
        </ul>
    </div>
</section>

