---
import "../styles/qualite.css";
import Card from "../components/Card.astro";
---

<section class="qualite__section" id="qualities">
    <div class="container">
        <h2 class="section__title heading">mes qualites</h2>
        <div class="cards">
            <Card />
            <Card />
            <Card />
        </div>
    </div>
</section>

