---
import "../styles/services.css";
import CardService from "../components/CardService.astro";

const cardservices = [
    {
        title: "Transport aeroportuaire et maritime",
        content: "Je vous transporte partout en Guadeloupe après accueil depuis l'aéroport ou la gare maritime à l'heure convenue.",
    },
    // {
    //     title: "Transport aeroport",
    //     content: "Je vous transporte partout en Guadeloupe apres accueil depuis l'aeroport a l'heure convenue.",
    // },
    // {
    //     title: "Transport maritime",
    //     content: "Je vous transporte partout en Guadeloupe apres accueil depuis la gare maritime a l'heure convenue.",
    // },
    {
        title: "Transfert d'organe et de sang",
        content: "Je suis habilité pour le transport d'organe et de sang.",
    },
    // {
    //     title: "Taxi conventionne",
    //     content: "Mon taxi agree par la CPAM dispose de tous les amenagements necessaires au transport de personnes a mobilite reduite.",
    // },
    {
        title: "Course dans toute la Guadeloupe",
        content: "De vos trajets pour aller faire vos courses ou de simples trajets pour emener vos enfants à l'école.",
    },
    {
        title: "Guide touristique",
        content: "Natif de l'île, je connais tous les lieux qui pourront vous plaire selon vos centres d'intérêt.",
    },
]
---
<section class="service" id="services" aria-labelledby="servicesheader">
        <div class="services">
            {cardservices.map((cardservice, index) => (
                <CardService title={cardservice.title}, content={cardservice.content}, index={index} />
            ))}
        </div>
</section>
