---
import "../styles/footer.css";
---

<footer aria-labelledby="footerheader">
    <div class="container">
        <div class="footer__top">
            <h2 class="footer__title subheading" id="footerheader">Transport Les Colibris</h2>
            <p class="footer__content">"Nous sommes à votre disposition pour vous aider à trouver le taxi qui vous convient."</p>
            <nav id="secondary-navigation">
                <ul class="footer__nav" role="list" id="secondary-navigation">
                    <li><a href="#qualities">Qualities</a></li>
                    <li><a href="#about">A propos</a></li>
                    <li><a href="#vehicule">Vehicule</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__bottom">
            <p class="copyright">
                copyright &copy; 2023 Transport Les Colibris. designed by <span
                >...</span
                >
            </p>
        </div>
    </div>
</footer>
