---
import "../styles/footer.css";
---

<footer>
    <div class="container">
        <div class="footer__top">
            <h2 class="footer__title">Nom de l'entreprise de tonton Frantz</h2>
            <p class="footer__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                praesentium aperiam sapiente quas illum hic.
            </p>
            <nav>
                <ul class="footer__nav" role="list" id="secondary-navigation">
                    <li>Services</li>
                    <li>A propos</li>
                    <li>Vehicule</li>
                    <li>Galerie Photo</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>
        <div class="footer__bottom">
            <p class="copyright">
                copyright &copy; 2023 [Nom de l'entreprise]. designed by <span
                >[Nom de mon entreprise]</span
                >
            </p>
        </div>
    </div>
</footer>
