---

import Qualite from "../components/Qualite.astro";
import About from "../components/About.astro";
import Vehicle from "../components/Vehicle.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
---
<main>
    <Qualite />
    <About />
    <Vehicle />
    <Services />
    <Contact />
</main>
