---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
     <link rel="icon" type="image/svg+xml" href="/favicon.svg" />   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-vars-ponyfill/4.1.1/css-vars-ponyfill.min.js"></script>
</head>
<body>
   <slot /> 
</body>
</html>

<style is:global>
    *, *::before, *::after {
      box-sizing: border-box;
    }

    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }

    img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
    }

    ul[role="list"],
    ol[role="list"]{
        list-style-type: none;
    }

    * {
        margin: 0;
        padding: 0;
        font: inherit;
    }

    p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word; 
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
      html:focus-within {
       scroll-behavior: auto;
      }
      
      *,
      *::before,
      *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }

    #root, #__next {
      isolation: isolate;
    }

    :root {
        /* custom properties. */

        /* color:  */
        /* TODO: Add some color here so that evrything is fine. */
        --white: 0, 100%, 100%;
        --clr-white: hsl(var(--white));
        --clr-white-darker: hsl(var(--white), 0.8);

        /* button color */
        --clr-accent-400: 11, 100%, 68%;
        --clr-button: hsl(var(--clr-accent-400));
        --clr-button-hover : hsl(var(--clr-accent-400), 0.9);

        /* font-family */
        --ff-primary: 'Poppins';
        --ff-accent: 'Roboto';
        --ff-body: var(--ff-primary); 
        --ff-heading: var(--ff-accent); 

        /* font-weight */
        /* TODO: Think about the different font weight that I will use. */
        --fw-regular: 400;
        --fw-bold: 700;
        --fw-black: 900;

        --content-width: min(85%, 1500px);
    }

    body {
        background-color: #82d8d8; 
        font-family: var(--ff-body), sans-serif;
        color: black; 
        font-size: clamp(0.75rem, 1.5vw, 2rem);
        font-weight: var(--fw-regular);
    }

    /* Du styling qui intervient un peu partout et que je ne veux pas refaire. */

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--ff-heading), sans-serif;
        line-height: 1.1;
    }

    section {
        padding-block: 4em;
    }

    .cta {
        border: none;
        color: white;
        background-color: var(--clr-button);
    }

    .cta:is(:hover, :focus){
        background-color: var(--clr-button-hover);
        cursor: pointer;
    }

    .container {
        width: var(--content-width);
        margin-inline: auto;
    }

    @media(max-width: 41em){
        .container {
            --content-width: 70%;
        }
    }

    .heading{
        color: black;
        display: inline-block;
        position: relative;
        text-transform: capitalize;
        font-weight: 900;
        font-size: clamp(1.4rem, 3.5vw, 3.5rem);
    }


    .heading::before,
    .heading::after {
        --bar-width: 2em;
        position: absolute;
        content: '';
        width: var(--bar-width);
        aspect-ratio: 1;
    }

    /* top style */
    .heading::before {
        border-width: 0;
        color: white;
        border-bottom-width: 0.3em;
        border-style: solid;
        border-color: white;
        left: calc(var(--bar-width) / -5);
        bottom: calc(var(--bar-width) / 1.25);
    }

    [data-color="black"]::before {
        color: black;
        border-color: black;
    }

    /* bottom style */
    .heading::after {
        width: calc(var(--bar-width) * 0.8);
        color: var(--clr-button);
        border: 0.3em solid var(--clr-button);
        border-top-width: 0px;
        border-left-width: 0px;
        right: calc(var(--bar-width) / -2);
    }


    .subheading{
        text-transform: capitalize;
        font-weight: 600;
        /* TODO: utiliser des clamps si l'envie m'en dit. */
        font-size: 1.3em;
    }

</style>
